<section>
    <div class="form-container">
        <div class="form-top">
            <div class="form-header"><p class="text-center font-24 fw-bolder">Welcome {{#upperCase user.firstName}}{{/upperCase}} {{#upperCase user.lastName}}{{/upperCase}} to <span class="text-danger fs-3">Admin</span> Dashboard</p></div>
            <div class="form-body">
                    <div class="mb-3">
                        <a href="/admin/addMovieTv">
                            <button type="button" class="form-button">Add New Movie or TV</button>
                        </a>
                        
                    </div>
                    
                    <div class="mb-3">
                        <a href="/admin/allMovieTv">
                            <button class="form-button">View All Movies and TVs</button>
                        </a>
                        
                    </div>

            </div>
        </div>
    </div>
</section>