<footer>
        <div class="foot-container">
            <div class="page-section"></div>
            <div class="foot-download-icons">
                <img src="/img/download-icons.png" alt="download  icons">
            </div>
            <div class="foot-columns-wrapper">
                <div class="foot-col-container">
                    <div class="foot-col">
                        <div class="foot-col-top-row">Watch</div>
                        <div class="foot-col-small">
                            <a href="">Spotlight</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Movies</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">TV</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Free</a>
                        </div>
                    </div>
                    <div class="foot-col">
                        <div class="foot-col-top-row">My Account</div>
                        <div class="foot-col-small">
                            <a href="">My Vudu</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Account</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Settings</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Manage Devices</a>
                        </div>
                    </div>
                    <div class="foot-col">
                        <div class="foot-col-top-row">Features</div>
                        <div class="foot-col-small">
                            <a href="">Lists</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Family</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Disc to Digital</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">IntaWatch</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Movies Anywhere</a>
                        </div>
                    </div>
                    <div class="foot-col">
                        <div class="foot-col-top-row">Help</div>
                        <div class="foot-col-small">
                            <a href="">About Us</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Devices</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Support</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Forums</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Contact Us</a>
                        </div>
                        <div class="foot-col-small">
                            <a href="">Jobs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot-social-icon">
                <img src="/img/social-icons.png" alt="social-icons">
            </div>
            <div class="foot-last-info">
                <span>
                    <a href="">Terms and Policies</a>
                </span>
                <span>
                    <span class="foot-separator">|</span>
                    <a href="">Your Privacy Rights</a>
                </span>
                <span>
                    <span class="foot-separator">|</span>
                    <a href="">AdChoices</a>
                </span>
                <span>
                    <span class="foot-separator">|</span>
                    <a href="">Do Not Sell My Personal Information</a>
                </span>
                <span>
                    <span class="foot-separator">|</span>
                    <a href="">California Notice</a>
                </span>
                <span>
                    <span class="foot-separator">|</span>
                    <a href="">Feedback</a>
                </span>

            </div>
        </div>
</footer>