<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">VUDU</a></li>
                <li><a href="">Movies</a></li>
                <li><a href="">TV</a></li>
                <li><a href="">Free</a></li>
                <li><a href="">MyVudu</a></li>
                <li><a href="">Redeem</a></li>
                <li><a href="">Sign In</a></li>
                <li><a href="">Search</a></li>
            </ul>
        </nav>
    </header>
    <main>

        {{{body}}}

    </main>
    <footer>
        <div>
            This is the footer
        </div>

    </footer>
    
</body>
</html>