<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main_style.css" type="text/css" />
</head>
<body>
    <header>
        <nav>
            <div class="header">
                <div class="header__logo"></div>
                <ul class="header__menu">
                    <li><a href="">Movies</a></li>
                    <li><a href="">TV</a></li>
                    <li><a href="">Free</a></li>
                    <li><a href="">MyVudu</a></li>
                </ul>
                <div class="header__personal">
                    <div class="header__account">
                        <div class="header__Redeem">
                            <button>Redeem</button>
                        </div>
                        <div class="header__signIn">
                            <button>Sign In</button>
                        </div>
                    </div>
                    <div class="header__search">Search</div>
                </div>
            </div>
        </nav>
    </header>
    <main>

        {{{body}}}

    </main>
    <footer>
        <div>
            This is the footer
        </div>

    </footer>
    <script></script>
</body>
</html>