<section>
    <div class="form-container">
        <div></div>
        <div class="form-top">
            <div class="form-header"><p class="text-center font-24 fw-bolder">Create a New Account</p></div>
            <div class="form-body">
                <form  action="">
                    <div class="mb-3">

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name" aria-label="First name" required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <input id="username" class="form-control" type="email" name="username" required placeholder="email">
                    </div>
                    <div class="mb-3">
                    <input id="password" class="form-control" type="password" name="password" required placeholder="password">
                    </div>
                    <div class="mb-3 left form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label font-13" for="flexCheckDefault">
                            I certify that I am at least 18 years old and that I agree to the <span><a href="">Terms and Policies</a></span> and <span><a href="">Privacy Policy</a></span>. This service is for the U.S. only.
                        </label>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="form-button">Sign Up</button>
                    </div>
                </form>
            </div>

        </div>
        <div></div>
</section>