.hero-wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 451px; */
    text-align: center;
    align-items: center;

}
.hero-background {
    height: 451px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-navigation {
    padding: 6px 12px;
    border-radius: 6px;
    background: rgba(0,0,0,.5);
    bottom: 5%;
    left: 50%;
}

.hero-navigation span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-right: 5px;
    background-color: #fff;
}

.main-body-display, .main-section{
    width: 100%;
    height: 100%;
}



.main-section-title{
  margin: 15px 0;
}

.poster-wrapper{
  position: relative;
  width: 90%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: .25em;

}

.poster-wrapper:hover .overlay{
  opacity: .8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-movie {
    width: 100%;
    height: 100%;
}

.special-container {
  margin-top: 20px;
  background-color: purple;
}

#special-top-line{
  font-size: 60px;
  color: #C1C159;
  font-weight: 900;
  text-shadow: -6px 6px black;
}

#special-second-line{
  font-size: 60px;
  color: #e0e0d1;
  font-weight: 900;
  text-shadow: -6px 6px black;
}

.special-poster-container{
  width: 130px;
  margin: 10px;
}

.special-poster-container img{
  max-width: 100%;
  max-height: 100%;
}



/* hero testing */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  min-width: 768px;
  max-width: 1368px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

