.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.font-13 {
    font-size: 13px;
}
.font-17 {
    font-size: 17px
}

.font-24 {
    font-size: 24px
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.flex-container{
    display: flex
}

.grid-container-7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;

}

.grid-container-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    width: 100%;
    height: 100%;
    background-color: #041c2c;
    color: #fff;
    line-height: 1.3;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: 17px;

}
section{
    padding-bottom: 20px;
    border-bottom: 1px solid #003452
}

.container{
    width: 100%;
    max-width: 1364px;
    min-width: 768px;
    margin: 0 auto;
}


header {
    width : 100%;
    min-width : 768px;
    height: 60px;
    padding-top: 17px;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    z-index : 11; 
    background : linear-gradient(90deg, #007bc4,#041c2c 100%)

}

.header-wrapper {
    display: flex;
    height: 100%;
    min-width: 768px;
    max-width: 1368px;
    padding: 0 25px;
    margin: 0 auto;
}

.header-logo-wrapper{
    height: 100%;
}

.home-logo {
    width: 70px;
}

.header-menu {
    display: flex;
    height: 100%;
    padding: 0;    
}

.header-menu-list {
    display: inline-block;
}

.header-menu-list-wrapper {
    padding: 0 10px;
}

.header-menu-list-wrapper a{
    width: 100%;
    padding: 0 5px;
}

.header-user-wrapper {
    display: flex;
    height: 100%;
    margin: 0 0 0 auto;
}

.header-account-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 5px;
}

.header-account-item {
    padding:0 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
display: none;
position: absolute;
background-color: #041c2c;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}



.div-dropbtn{
margin-bottom: 18px;
}

.dropbtn {
    background-color: transparent;
    padding: 0;
    border: 0;
    color: inherit;
    font-size: inherit;
}
  
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
}
  
  
.dropdown:hover .dropdown-content {
    display: block;
    float: left;
    background-color:#003452 ;
}
  
  .dropdown:hover .dropbtn {
      background-color: c#7098af;
      color: #7098af
    }


main {
    margin: 0 auto;
    margin-top: 60px;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    
}

.foot-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 768px;
    max-width: 1368px;
    padding: 0 25px;
    margin: auto;
}

.foot-download-icons {
    margin-bottom: 40px;
    text-align: left;


}

.foot-colums-wrapper {
    display: flex;
    float: left;
    height: 100%;
    width: 100%;
}

.foot-col-container {
    display: flex;
    height: 100%;
    max-width: 900px;
}

.page-section {
    border-top: 1px solid #003452;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-bottom: 50px;
}

.foot-col {
    width: 25%;
    text-align: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.foot-col-top-row {
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 500;
}

.foot-col-small{
    margin-bottom: 10px;

}

.foot-col-small a{
    font-size: 14px;
    font-weight: 200;
    color: #b0bec5;
}

.foot-social-icon{
    margin-top: 50px;
    text-align: right;
}

.foot-last-info {
    width: 100%;
    text-align: left;

}

.foot-separator {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    color: #b0bec5;
}

.foot-last-info a{
    color: #00a0ff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    padding: 0;
    margin: 0;
}


a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #7098af;
}

.error-message{
    color: red;
    font-size: 10px;
    font-weight: 100;
}






