<section>
    <div class="form-container">
        <div></div>
        <div class="form-top">
            <div class="form-header"><p class="text-center font-24 fw-bolder">Sign In To Vudu</p></div>
            <div class="form-body">
                <form  action="/user/signInAccount" method="POST">
                    <div class="mb-3">
                        <input id="userName" class="form-control" type="email" name="userName" placeholder="email">
                       
                    </div>
                    <div class="mb-3">
                        <input id="password" class="form-control" type="password" name="password" placeholder="password">
                        <div class="error-message">{{errors}}</div>
                    </div>
                    <div class="mb-3 left">
                        <a href=""lab>Forgot your Vudu password?</a>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="form-button">Sign In</button>
                    </div>
                </form>
                <div class="account-create-button">
                    <a href="/user/account-setup">Create a new Vudu Account</a>
                </div>
            </div>

        </div>
        <div></div>

    </div>


    

</section>