<section>
    <div class="search-header">
        <div class="search-header-inner">
            <div class="search-box">
                <div id="search-close">
                <a href="./">
                    <span  class="material-icons md-36">clear</span>
                </a>

                </div>

                <input id="search-text" type="text" placeholder="Search for Movies, TV Shows" name="" id="">
            </div>
        </div>
    </div> 
</section> 